body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

form {
    margin-top: 20px;
}

input[type="email"],
input[type="number"],
input[type="password"],
button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-continer{
    height: 60vh;
    margin: 100px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
}
.button{
    width: 100px;
}