<div class="main-continer">
    <div class="inner-container">
        <div *ngIf="!closeForgotForm" class='outercontainer'>
            <div class="innercontainer">
                <div>
                    <h2>Forgot Password</h2>
                </div>
                <div>
                    <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value.emailId)">
                        <input type="email" name="emailId" ngModel required placeholder='Enter Your Email' required />
                        <button class="button" *ngIf="!otpSent">Send OTP</button>
                    </form>
                    <p *ngIf="otpSent" style="color: green; text-shadow: 1px 1px 1px black; font-weight: bolder;">Otp
                        was
                        sent,
                        Please Check your Email.</p>
                </div>

                <div>
                    <form #otpForm="ngForm" (ngSubmit)="otpSubmit(otpForm.value.otp)">
                        <input type="number" name="otp" #otp="ngModel" ngModel placeholder="Enter OTP">
                        <button class="button mr-5">Verify OTP</button>
                        <span >Please login here<a class="ml-5" href="/login">Login</a></span>
                    </form>
                </div>
            </div>
        </div>
        <div>
            
        </div>

        <div *ngIf="openResetPassword" class='outercontainer'>
            <div class="innercontainer">
                <div>
                    <h2>Reset Password</h2>
                </div>
                <form #newPasswordForm="ngForm" (ngSubmit)="resetPassword(newPasswordForm.value.password)">

                    <label>New Password <span style="color: red;">*</span></label>
                    <input type="password" name="password" required ngModel #password="ngModel" minlength="8"
                        pattern="(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&^])[A-Za-z\d@$!%?&^]{8,}" />

                    <div style="color: red;">
                        <p *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</p>
                        <p *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 8
                            characters
                            for
                            password</p>
                        <p *ngIf="password.errors?.['pattern'] && password.touched">Password must contain at least one
                            uppercase
                            letter, one lowercase letter, one numeric digit, and one special character (excluding '.')
                        </p>
                    </div>

                    <label>Confirm Password <span style="color: red;">*</span></label>
                    <input type="password" name="password1" required ngModel #password1="ngModel" />

                    <div>
                        <p style="color: red;" *ngIf="!(password.value === password1.value) && password1.touched">
                            Password
                            should match!</p>
                    </div>

                    <button class="button">Confirm</button>

                </form>

            </div>
        </div>





        <div class="container">

            <!-- The Modal -->
            <div class="modal fade" id="empModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Employee</h4>
                            <p style="margin-left: 300px;">
                                <button type="button" class="close button" data-dismiss="modal">&times;</button>
                            </p>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                <table align="left" style="margin-left: 70px;">
                                    <tbody>

                                        <tr>
                                            <td>Email-Id</td>
                                            <td><input type="text" name="emailId" /> </td>
                                        </tr>
                                        <tr>
                                            <td>New Password</td>
                                            <td><input type="password" name="password" /> </td>
                                        </tr>
                                        <tr>
                                            <td>Confirm Password</td>
                                            <td><input type="password" name="password" /> </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary button" data-dismiss="modal">Update Password</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>