<!-- <app-navbar></app-navbar> -->
<app-navbar class="navbar-container"></app-navbar>
<router-outlet class="all-components"></router-outlet>
<app-footer></app-footer>
<!-- <app-login></app-login> -->
<!-- <app-register></app-register>  -->