
  <head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  </head>
    
   <div class="container-fluid">
	<carousel>
	  <slide class="carousel-item" routerLink="/refrigerators">
		<img src="https://d2xamzlzrdbdbn.cloudfront.net/bg/6d3eb513-fa1f-4613-a7d0-aef6324be0cc24080458.webp" data-name="Hello Summer" class="d-block w-100" alt="slide1">
	  </slide>
	  <slide class="carousel-item"  routerLink="/laptops">
		<img src="https://d2xamzlzrdbdbn.cloudfront.net/bg/d1b23e4b-5e3a-4ee0-aed2-f94e3d09fb4b24150502.webp" data-name="HP Laptops" class="d-block w-100" alt="Slide2">
	  </slide>
	  <slide class="carousel-item" routerLink="/mobile">
		<img src="https://d2xamzlzrdbdbn.cloudfront.net/bg/6f77a530-5c40-4c96-8750-5c1dae8e4e0724051029.webp" data-name="OnePlus NORD CE4" class="d-block w-100" alt="slide3">
	  </slide>
	  <slide class="carousel-item">
		<img src="https://bajajdigital-cdn-endpoint.azureedge.net/product/3aef0a81-62f4-4763-a116-6c337cf183e0" class="d-block w-100" alt="slide4">
	  </slide>
	  <slide class="carousel-item"routerLink="/dishwashers">
		<img src="https://d2xamzlzrdbdbn.cloudfront.net/bg/0710d0d9-4191-422d-98e8-ed07fd280e3624150500.webp" data-name="Home Appliances" class="d-block w-100" alt="slide5">
	  </slide>
	</carousel>
  </div>
  <section class="home">
    <div class="content">
      <h1> <span>Electronic Products</span>
        <br>
        Up To <span id="span2">50%</span> Off
		<br>
		<br>
      </h1>
      <h6 >  <p> <strong>  Air conditioners, dishwashers, clothes dryers, drying cabinets, freezers, refrigerators, kitchen stoves, water heaters, washing machines, trash compactors, microwave ovens, and induction cookers are just a few examples of major appliances.
        <br><br>  washing machines, trash compactors, microwave ovens, and induction cookers are just a few examples of major appliances.
	</strong></p>
       </h6>
      <div class="btn" routerLink = "/Allcategories"><button>Shop Now</button></div>

    </div>
    <div class="img">
      <img src="../../assets/images/background.png" alt="">
    </div>
  </section>
    <!-- home content -->
 <!-- other cards -->
 <div class="container" id="other-cards">
	<div class="row">
	  <div class="col-md-6 py-3 py-md-0">
		<div class="card">
		  <img src="../../assets/images/c1.png" alt="">
		  <div class="card-img-overlay">
			<h3>Best Laptop</h3>
			<h5>Latest Collection</h5>
			<p>Up To 50% Off</p>
			<button id="shopnow"  routerLink = "/laptops">Shop Now</button>
		  </div>
		</div>
	  </div>
	  <div class="col-md-6 py-3 py-md-0">
		<div class="card">
		  <img src="../../assets/images/c2.png" alt="">
		  <div class="card-img-overlay">
			<h3>Best Headphone</h3>
			<h5>Latest Collection</h5>
			<p>Up To 50% Off</p>
			<button id="shopnow" routerLink = "/laptops">Shop Now</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- other cards -->
 <!-- offer -->
 <div class="container" id="offer">
	<div class="row">
	  <div class="col-md-3 py-3 py-md-0">
		<i class="fa fa-shopping-cart"></i>
		<h3>Free Shipping</h3>
		<p>On order over $1000</p>
	  </div>
	  <div class="col-md-3 py-3 py-md-0">
		<i class="fa-solid fa-rotate-right"></i>
		<h3>Free Returns</h3>
		<p>Within 30 days</p>
	  </div>
	  <div class="col-md-3 py-3 py-md-0">
		<i class="fa-solid fa-truck"></i>
		<h3>Fast Delivery</h3>
		<p>World Wide</p>
	  </div>
	  <div class="col-md-3 py-3 py-md-0">
		<i class="fa-solid fa-thumbs-up"></i>
		<h3>Big choice</h3>
		<p>Of products</p>
	  </div>
	</div>
  </div>
  <!-- offer -->
<!-- newslater -->
<div class="container" id="newslater">
	<h3 class="text-center">Subscribe To The Electronic Shop For Latest upload.</h3>
	<div class="input text-center">
	  <input type="text" placeholder="Enter Your Email..">
	  <button id="subscribe">SUBSCRIBE</button>
	</div>
  </div>
 