<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Navbar Design</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="washing-machines.component.css">
</head>

<body>

    <div class="py-3 py-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-4">Our Products</h4>
                </div>
                <div class="col-md-3"  *ngFor="let  washingmachines of washingmachines">
                    <div class="product-card">
                        <div class="product-card-img">
                            <label class="stock bg-success">In Stock</label>
                            <img src="{{ washingmachines.img}}" alt="refrigerators">
                        </div>
                        <div class="product-card-body">
                            <p class="product-brand">{{washingmachines.name}}</p>
                            <h5 class="product-name">
                                <a href="">
                                    {{washingmachines.description}}
                                </a>
                            </h5>
                            <div>
                                <span class="selling-price">₹{{ washingmachines.price}}/- </span>
                                <span class="original-price">{{ washingmachines.originalPrice}}</span>
                            </div>
                            <div class="mt-2">
                                <button (click)="addToCart(washingmachines)" class="btn btn1">Add to Cart</button>
                                <a href="" class="btn btn1"> <i class="fa fa-heart"></i> </a>
                                <a href="" class="btn btn1"> View </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


