.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

/* Style for product images */
.product-card-img {
    position: relative;
    text-align: center;
}

.product-card-img img {
    max-width: 100%;
    height: 200px;
}

/* Style for stock label */
.stock {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.bg-success {
    background-color: #28a745;
}

/* Style for product brand */
.product-brand {
    font-weight: bold;
    color: #333;
}

/* Style for product name */
.product-name a {
    color: #333;
    text-decoration: none;
}

.product-name a:hover {
    text-decoration: underline;
}

/* Style for prices */
.selling-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

/* Style for buttons */
.btn1 {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: #333;
    color: #fff;
}
