

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>


<body class="d-flex flex-column justify-content-center">
    <div class=" d-flex flex-row justify-content-center">
        <div class="login-container d-flex flex-row justify-content-center">
            <div class="d-flex flex-column justify-content-center">
                <h4  class="mt-5 login">LOGIN</h4>
                <p class="para mt-2">Get access to your account</p>
                <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" novalidate>
                    <table>
                        <tr>
                            <div class="input-group mt-5">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" placeholder="Enter Your Email" class="form-control" name="emailId"
                                    #emailId="ngModel" ngModel required
                                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />

                            </div>
                            <div style="color: red;" *ngIf="emailId.errors?.['pattern'] && emailId.touched">
                                <p> *Please provide a valid Gmail address</p>
                            </div>

                            <div style="color: red;">
                                <div *ngIf="emailId.errors?.['required'] && emailId.touched">*Please provide the
                                    Email-Id
                                </div>
                                <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">Please provide at least 2
                                    characters for Email-Id</div>
                            </div>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group mt-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input placeholder="Enter your password" type="password" class="form-control"
                                        name="password" #password="ngModel" ngModel required minlength="8" />
                                </div>
                                <div style="color: red;">
                                    <div *ngIf="password.errors?.['required'] && password.touched">*Please provide the Password</div>
                                    <div *ngIf="password.errors?.['minlength'] && password.touched">*Please enter a valid password (at least 8 characters)</div>
                                </div>
                            </td>
                        </tr>
                        <div class="mt-4">
                            <tr>
                                <td>
                                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
                                </td>
                            </tr>
                        </div>
                        <div class="mt-4">
                            <tr>
                                <td>
                                    <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button> New
                                    User?
                                    <a routerLink="/register" class="register">Register</a>
                                </td>
                                
                            </tr>
                            <tr>
                                <td><a  routerLink="/forgotpassword">forgot password?</a></td>
                            </tr>
                        </div>
                        <div class="mt-4">
                            <h3>social media</h3>
                            <div class="mt-3">
                                <a href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook facebook-icon"></i></a>
                                <a href="https://www.youtube.com/" target="_blank"><i
                                        class="fab fa-youtube social-icon youtube-icon "></i></a>
                                <a href="https://www.google.com/" target="_blank"><i
                                        class="fab fa-google social-icon google-icon"></i></a>
                                <a href="https://twitter.com/" target="_blank"><i
                                        class="fab fa-twitter social-icon twitter-icon"></i></a>
                                <a href="https://www.linkedin.com/" target="_blank"><i
                                        class="fab fa-linkedin social-icon linkedin-icon"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i
                                        class="fab fa-instagram social-icon instagram-icon"></i></a>
                            </div>
                        </div>
                    </table>
                    <br />
                </form>
            </div>
        </div>
        
    </div>
</body>

</html>