

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    ;
    height: 100vh;
    
    
}

.blur-image
{
    filter: blur(5px);
}

.login-container{
    background-color: white;
    height: 70vh;
    width: 40vw; 
    margin-left: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    
    
}
.login-container:focus{
    outline: 5px solid blue;
}

.facebook-icon {
    color: #1877F2;
    font-size: 25px;
     
}
.youtube-icon {
    color: #FF0000;
    font-size: 25px;  
    margin-left: 10px;
}
.google-icon {
    color: #4285F4;
    font-size: 25px; 
    margin-left: 10px;
}
.twitter-icon {
    color: #1DA1F2; 
    font-size: 25px; 
    margin-left: 10px;
}
.linkedin-icon {
    color: #0077B5; 
    font-size: 25px;
    margin-left: 10px; 
}
.instagram-icon {
    color: #E4405F; 
    font-size: 25px; 
    margin-left: 10px;
}
.input-group {
    position: relative;
}

.input-group-addon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
}

.form-control{
    border: 0px;
    border-bottom: 2px solid #a9a9a9;
    transition-property: border-bottom;
    transition-duration: 1s;
    
}

.form-control:hover{
    border: 0px;
    border-bottom: 2px solid red;
}
input:focus {
    outline: none; 
}
input:hover {
    outline: none; 
}

.para{
    font-size: 12px;
    color: #a9a9a9;
}
.login{
    font-weight: 600;
    font-family: RobotoMedium, sans-serif;
    font-size: 20px;
    color: #000;
    Opacity: .87;
    text-transform: uppercase;
    display: block;
}
.register{
    color: #ed1c24;
}