.main-navbar {
    background-color: #090909;
    border-bottom: 1px solid #ccc;
   position: fixed;
   width: 99vw;
   margin-bottom: 80px;
   
}

#extra{
    margin-top: 100px;
}
.main-navbar .top-navbar {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.main-navbar .top-navbar {
    background-color: #000; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-navbar .top-navbar .brand-name {
    color: #fff; 
}

.main-navbar .top-navbar .nav-link {
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
}

.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: #fff; 
    font-size: 14px;
}

.main-navbar .navbar {
    padding: 0px;
    background-color: #000; 
}

.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: #fff; 
    font-size: 15px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 8px 20px; 
    text-decoration: none;
    display: block;
    font-size: 15px; 
    font-family: Arial, sans-serif; 
    font-weight: 500; 
}

.dropdown-content a:hover {
    background-color: rgb(159, 157, 157); 
    color: black; 
}
.dropdown{
    margin-top: 9px;
    background-color: #000000;
    color: white;
    text-decoration: none;

}

.dropbtn {
    background-color: black;
    color: white;
    border: black solid 0px;
    font-size: 15px;
    font-family: Arial, sans-serif; 
    font-weight: bold;
}
a{
    text-decoration: none;
}
.logo-image{
    height: 25px;
    width: 25px;
    display: inline;
}