


<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Navbar Design</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>

    <div class="main-navbar shadow-sm sticky-top">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                        <a routerLink="" class="brand-name">
                            <h5 class="brand-name" routerLink="">SmartLivingStore</h5>
                        </a>
                    </div>
                    <div class="col-md-5 my-auto">
                        <form id="searchForm" role="search">
                            <div class="input-group">
                                <input id="searchInput" type="search" placeholder="Search your product"
                                    class="form-control" />
                               
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" routerLink='cart'>
                                    <i class="fa fa-shopping-cart"></i> Cart <span class="badge bg-secondary">{{
                                        cartItemCount }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-heart"></i> Wishlist
                                </a>
                            </li>
                          


                            <li class="dropdown">
                                <i class="fa fa-user"></i>  <button class="dropbtn">Account</button>
                                <div class="dropdown-content">
                                    <a routerLink="profile">Profile</a>
                                    <a *ngIf="!isLoggedIn" (click)="login()" routerLink="/login">Login</a>
                                    <a *ngIf="isLoggedIn" (click)="logout()" routerLink="">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                    Funda Ecom
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink='home'>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/Allcategories'>All Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="newarrivals">New Arrivals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='about'>About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='contactus'>Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="extra"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl);
        });

        const searchForm = document.getElementById('searchForm');
        const searchInput = document.getElementById('searchInput');

        searchForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const query = searchInput.value.trim().toLowerCase();

            performSearch(query);
        });

        function performSearch(query) {
            

            const products = ['laptops', 'refrigerators', 'kitchen appliances'];

            const results = products.filter(product => product.toLowerCase().includes(query));

            if (results.length > 0) {
                console.log('Search results:', results);
            } else {
                console.log('No products found');
            }
        }
    </script>
</body>

</html>