/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
html,
body {
	font-size: 14px;
	color: white;
	background: #f7f1e8;
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
.top-header {
	height: 100vh;
	background-size: cover;
	overflow: hidden;
	color: black;
	z-index: 2;
	width: 100%;
	background: #b80818
}
.bg-color {
	background: #b80818;
}
.main-section {
	padding-top: 120px;
	padding-bottom: 120px;
}