<footer id="footer">
	<div class="footer-top">
	  <div class="container">
		<div class="row">

		  <div class="col-lg-3 col-md-6 footer-contact">
			<h3> SmartLivingStore</h3>
			<p>
			   India <br>
			 Hyderabad <br>
			  Bangalore <br>
			</p>
			<strong>Phone:</strong> +91-88676356253 <br>
			<strong>Email:</strong> smartlivingstore111&#64;gmail.com<br>
		  </div>

		  <div class="col-lg-3 col-md-6 footer-links">
			<h4>Usefull Links</h4>
		   <ul>
			<li><a href="#" routerLink ="/home">Home</a></li>
			<li><a href="#"routerLink ="/about">About Us</a></li>
			<li><a href="#"routerLink ="/laptops">Services</a></li>
			<li><a href="#">Terms of service</a></li>
			<li><a href="#">Privacy policey</a></li>
		   </ul>
		  </div>



		 

		  <div class="col-lg-3 col-md-6 footer-links">
			<h4>Our Services</h4>

		   <ul>
			<li><a href="#">PS 5</a></li>
			<li><a href="#"routerLink ="/laptops">Computer</a></li>
			<li><a href="#"routerLink ="/laptops">Gaming Laptop</a></li>
			<li><a href="#" routerLink ="/mobile">Mobile Phone</a></li>
			<li><a href="#">Gaming Gadget</a></li>
		   </ul>
		  </div>

		  <div class="col-lg-3 col-md-6 footer-links">
			<h4>Our Social Networks</h4>

			<div class="socail-links mt-3">
			  <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
			  <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
			  <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
			  <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
			</div>
		  
		  </div>

		</div>
	  </div>
	</div>
	<hr>
	<div class="container py-4">
	  <div class="copyright">
		&copy; Copyright <strong><span>Electronic Shop</span></strong>. All Rights Reserved
	  </div>
	  <div class="credits">
		Designed by <a href="#">SmartLivingStore</a>
	  </div>
	</div>
  </footer>
  <!-- footer -->





