.shopping-cart .cart-header{
    padding: 10px;
}
.shopping-cart .cart-header h4{
    font-size: 18px;
    margin-bottom: 0px;
}
.shopping-cart .cart-item a{
    text-decoration: none;
}
.shopping-cart .cart-item{
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 10px 10px;
    margin-top: 10px;
}
.shopping-cart .cart-item .product-name{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.shopping-cart .cart-item .price{
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}
.shopping-cart .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}
.shopping-cart .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.shopping-cart .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}
 
.cart-item .remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item .remove-button:hover {
    background-color: darkred;
}

.cart-item .purchase-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item .purchase-button:hover {
    background-color: darkgreen;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.item-details {
    display: flex;
    align-items: center;
}

.item-details img {
    max-width: 100px; 
    margin-right: 10px;
}

.item-info {
    flex-grow: 1;
}

.item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.remove-button, .purchase-button {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .item-details img {
        max-width: 80px; 
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

.item-name, .item-price {
    font-size: 16px;
    font-weight: normal;
}

.remove-button, .purchase-button {
    font-size: 14px;
    font-weight: bold;
}
.item-quantity {
    font-size: 14px;
    color: #888;
}

.quantity-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .quantity-button:hover {
    opacity: 0.7;
  }
  
  .plus-button {
    color: green;
  }
  
  .minus-button {
    color: red;
  }
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.item-container {
    display: flex;
    align-items: center;
}

.item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-info {
    flex-grow: 1;
    margin-right: 20px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.quantity-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-button {
    color: green;
}

.minus-button {
    color: red;
}

.item-actions button {
    margin-right: 10px;
    cursor: pointer;
}
.quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.quantity-button {
    padding: 8px;
    font-size: 1.2em;
    cursor: pointer;
}

.plus-button {
    background-color: green;
    color: white;
}

.minus-button {
    background-color: red;
    color: white;
}

.button-container {
    display: flex;
    gap: 8px;
}

.remove-button,
.purchase-button {
    padding: 8px;
    cursor: pointer;
}

.remove-button {
    background-color: red;
    color: white;
}

.purchase-button {
    background-color: green;
    color: white;
}
.empty-cart-message {
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 50px;
}
.purchase-button,
.total-amount {
    font-family: Arial, sans-serif; 
}

.purchase-button {
    font-size: 16px; 
    font-weight: bold; 
}

.total-amount {
    font-size: 18px; 
    font-weight: normal; 
}
.purchase-button {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.empty-cart-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.total-amount {
    font-size: 18px;
    font-weight: bold;
}
.product-image {
    max-width: 100px;
    max-height: 100px; 
}

.purchase-container {
    text-align: right;
    width: 100vw;
}
.item-info {
    text-align: center;
    font-family: Arial, sans-serif; 
}

.item-name {
    font-size: 18px; 
    font-weight: bold; 
}

.item-price {
    font-size: 16px; 
}
.item-price {
    font-size: 16px; 
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    color: #ff5733; 
}
.line{
    border-style: dashed black;
}