<!-- <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Cart/Wishlist Page Design</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="cart.component.css">
</head>
<body>
    <div class="cart-container">
        <div *ngIf="cartItems.length > 0; else emptyCartMessage">
            <ul>
                <li *ngFor="let item of cartItems; let i = index" class="cart-item">
                    <div class="item-details">
                        <img src="{{ item.imgSrc }}" alt="{{ item.name }}">
                        <div class="item-info">
                            <span class="item-name">{{ item.description }}</span>
                            <span class="item-price">{{ item.price }}</span>
                        </div>
                    </div>
                    <div class="quantity-controls">
                        <button (click)="updateQuantity(i, 1)" class="quantity-button">+</button>
                        <span class="quantity">{{ item.quantity }}</span>
                        <button (click)="updateQuantity(i, -1)" class="quantity-button">-</button>
                    </div>
                    <div class="item-actions">
                        <button (click)="removeFromCart(i)" class="remove-button">Remove</button>
                    </div>
                </li>
            </ul>
            <div class="purchase-container">
                <tr>
                    <td colspan="3" (click)="purchase()" align="right"><button class="btn btn-primary">Purchase</button>
                    </td>
                </tr>
                <p class="total-amount" *ngIf="cartItems.length > 0">Total Amount: {{ totalAmount }}</p>
            </div>
        </div>
        <ng-template #emptyCartMessage>
            <p class="empty-cart-message">Your cart is empty.</p>
        </ng-template>
    </div>
    
</body>
</html> -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Cart/Wishlist Page Design</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="cart.component.css">
</head>
<body>
    <div class="cart-container">
        <div *ngIf="cartItems.length > 0; else emptyCartMessage">
            <ul>
                <li *ngFor="let item of cartItems; let i = index" class="cart-item">
                    <div class="item-details">
                        <img [src]="item.img" alt="{{ item.name }}" class="product-image">
                        <div class="item-info">
                            <span class="item-name">{{ item.description }}</span>
                            <span class="item-price">₹{{ item.price }}</span>
                        </div>
                    </div>                    
                    <div class="quantity-controls">
                        <button (click)="updateQuantity(i, 1)" class="quantity-button">+</button>
                        <span class="quantity">{{ item.quantity }}</span>
                        <button (click)="updateQuantity(i, -1)" class="quantity-button">-</button>
                    </div>
                    <div class="item-actions">
                        <button (click)="removeFromCart(i)" class="remove-button">Remove</button>
                    </div>
                </li>
            </ul>
            <div class="purchase-container">
                <hr class="line">
                <table>
                    <tr>
                        <td colspan="2"></td>
                        <td align="right">
                            <p class="total-amount" *ngIf="cartItems.length > 0">Total Amount: ₹ {{ totalAmount }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" (click)="purchase()" align="right"><button class="btn btn-primary">Purchase</button></td>
                    </tr>
                </table>
            </div>
            
        </div>
        <ng-template #emptyCartMessage>
            <p class="empty-cart-message">Your cart is empty.</p>
        </ng-template>
    </div>
    
    
    
</body>
</html>
