


.container {
    margin-top: 20px;
}
body{
    height: 100vh;
}
select[name="country"] {
    height: 35px; 
    width: 300px;
    margin-right: 30px;
}

select[name="gender"]{
    width: 300px;
    margin-right: 30px;
}    
.main-container {
    width: 50%; 
    margin: 20px; 
    padding: 20px; 
    box-shadow: 0 0 20px black;
    border-radius: 5px;
    padding: 50px;
}
input{
    width: 300px;
    margin-right: 30px;
}

.form-control{
    border: 0px;
    border-bottom: 2px solid #a9a9a9;
    transition-property: border-bottom;
    transition-duration: 1s;
    
}

.form-control:hover{
    border: 0px;
    border-bottom: 2px solid red;
}
input:focus {
    outline: none; 
}
input:hover {
    outline: none; 
}