


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-kndS5uW2xk/0VRuwlMnjrHP8h9bNry5YtGv/u9KC1EPIYQ9Yb/eENLkKbCcYMblf" crossorigin="anonymous">
    ]
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body class="d-flex flex-column justify-content-center">
    <div class="d-flex flex-row justify-content-center ">
        <div class="main-container">
            <form #registerForm="ngForm" (ngSubmit)="empRegister(registerForm.value)" novalidate>
                <table>
                    <div class="d-flex flex-row mb-5">
                        <tr >
                            <td >
                                <input type="text" name="userName" class="form-control name-container mr-3" ngModel required
                                    placeholder="Enter the name" #nameInput="ngModel" />
                                <div style="color: red;">
                                    <div *ngIf="nameInput.errors?.['required'] && nameInput.touched">*Please provide
                                        the
                                        Name
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="number" name="Mobile" class="form-control" ngModel required minlength="10" maxlength="10"
                                    placeholder="Enter the Mobile Number" #mobileInput="ngModel" />
                                <div style="color: red;">
                                    <div *ngIf="mobileInput.errors?.['required'] && mobileInput.touched">*Please provide the Mobile Number</div>
                                    <div *ngIf="mobileInput.errors?.['minlength'] || mobileInput.errors?.['maxlength']">*Mobile number must be exactly 10 digits long</div>
                                    <div *ngIf="!mobileInput.errors && mobileInput.value && mobileInput.value.toString().length !== 10">*Mobile number must be exactly 10 digits long</div>
                                    <div *ngIf="mobileInput.errors?.['pattern'] || (mobileInput.value && !['6', '7', '8', '9'].includes(mobileInput.value.toString().charAt(0)))">*Mobile number must start with 6, 7, 8, or 9</div>
                                </div>
                            </td>
                        </tr>
                        
                        
                    </div>


                    <div class="d-flex flex-row mb-5">
                        <tr>
                            <td>
                                <select name="gender" class="form-control" ngModel required #genderInput="ngModel">
                                    <option value="" selected>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                                <div style="color: red;">
                                    <div *ngIf="genderInput.errors?.['required'] && genderInput.touched">*Please
                                        select
                                        the
                                        Gender</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <select name="country" ngModel required #countryInput="ngModel">
                                    <option value="" selected>Select Country</option>
                                    <option value="{{country.cca3}}" *ngFor="let country of countries">
                                        {{country.name.common}}
                                    </option>
                                </select>
                                <div style="color: red;">
                                    <div *ngIf="countryInput.errors?.['required'] && countryInput.touched">*Please
                                        select
                                        the
                                        Country</div>
                                </div>
                            </td>
                        </tr>


                        
                    </div>
                    <div class="d-flex flex-row mb-5">
                        <tr>
                            <td>
                                <input type="date" name="dob" class="form-control" ngModel
    placeholder="Enter the date of birth" required #dobInput="ngModel"
    [max]="getMaxDate()" />

                                <div style="color: red;">
                                    <div *ngIf="dobInput.errors?.['required'] && dobInput.touched">*Please enter the
                                        Date of
                                        Birth</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input placeholder="Enter the Email-Id" type="email" name="emailId" class="form-control"
                                    ngModel required
                                    pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|[a-zA-Z0-9-]+\.[a-zA-Z]{2,})$"
                                    #emailInput="ngModel" />
                                <div style="color: red;">
                                    <div *ngIf="emailInput.errors?.['required'] && emailInput.touched">*Please
                                        provide
                                        the
                                        Email-Id</div>
                                    <div *ngIf="emailInput.errors?.['pattern'] && emailInput.touched">*Please
                                        provide a
                                        valid
                                        Email-Id</div>
                                </div>
                            </td>
                        </tr>
                    </div>

                    <div class="d-flex flex-row mb-5">
                        <tr>
                            <td>
                                <input placeholder="Enter the password" type="password" name="password"
                                    class="form-control" ngModel required minlength="8"
                                    pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&^])[A-Za-z\d@$!%?&^]{8,}$"
                                    #passwordInput="ngModel" />

                                <div style="color: red;" *ngIf="">
                                    <i class="fas fa-times-circle">Please enter a valid password</i>
                                </div>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input placeholder="Confirm Password" type="password" name="password1"
                                    class="form-control" ngModel required minlength="8"
                                    #confirmPasswordInput="ngModel" />
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td>


                            <div>
                                <div style="color: red;"
                                    *ngIf="confirmPasswordInput.errors?.['required'] && confirmPasswordInput.untouched && passwordInput.errors?.['required']">
                                    <i class="fas fa-times-circle">Please enter the password and confirm
                                        password</i>
                                </div>
                                <div style="color: red;"
                                    *ngIf=" passwordInput.value && !hasUppercase(passwordInput.value) || passwordInput.untouched ">
                                    <i class="fas fa-times-circle">Password must contain at least one uppercase
                                        letter</i>
                                </div>

                                <div style="color: green;"
                                    *ngIf="passwordInput.value && hasUppercase(passwordInput.value)">
                                    <i class="fas fa-check-circle" style="color: green;">Password must contain at
                                        least
                                        one
                                        uppercase letter</i>

                                </div>


                                <div style="color: red;"
                                    *ngIf="passwordInput.value && !hasLowercase(passwordInput.value) || passwordInput.untouched ">
                                    <i class="fas fa-times-circle">Password must contain at least one lowercase
                                        letter</i>

                                </div>
                                <div style="color: green;"
                                    *ngIf="passwordInput.value && hasLowercase(passwordInput.value) ">
                                    <i class="fas fa-check-circle" style="color: green;">Password must contain at
                                        least
                                        one
                                        lowercase letter</i>

                                </div>


                                <div style="color: red;"
                                    *ngIf="passwordInput.value && !hasNumber(passwordInput.value) || passwordInput.untouched ">
                                    <i class="fas fa-times-circle">Password must contain at least one number</i>

                                </div>
                                <div style="color: green;"
                                    *ngIf="passwordInput.value && hasNumber(passwordInput.value) ">
                                    <i class="fas fa-check-circle" style="color: green;">Password must contain at
                                        least
                                        one
                                        number</i>
                                </div>


                                <div style="color: red;"
                                    *ngIf="passwordInput.value && !hasSpecialChar(passwordInput.value) || passwordInput.untouched">
                                    <i class="fas fa-times-circle">Password must contain at least one special
                                        character</i>

                                </div>
                                <div style="color: green;"
                                    *ngIf="passwordInput.value && hasSpecialChar(passwordInput.value)">
                                    <i class="fas fa-check-circle" style="color: green;">Password must contain at
                                        least
                                        one
                                        special character</i>

                                </div>


                                <div style="color: green;" *ngIf="passwordInput.value && passwordInput.valid">
                                    <i class="fas fa-check-circle" style="color: green;">Password meets
                                        requirements</i>

                                </div>
                            </div>
                            <div style="color: red;"
                                *ngIf="(passwordInput.value !== '' || confirmPasswordInput.value !== '') && passwordInput.value !== confirmPasswordInput.value && confirmPasswordInput.dirty || passwordInput.untouched  ">
                                <i class="fas fa-times-circle">Passwords do not match</i>
                            </div>
                            <div style="color: green;"
                                *ngIf="(passwordInput.value !== '' || confirmPasswordInput.value !== '') && passwordInput.value === confirmPasswordInput.value && confirmPasswordInput.dirty">
                                <i class="fas fa-check-circle" style="color: green;">Passwords match</i>
                            </div>
                        </td>
                    </tr>
                    <div class="d-flex flex-column">
                        <tr>
                            <td colspan="2" class="captcha-container" align="center">
                                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
                            </td>
                        </tr>

                        <tr class="mt-5">
                            <td colspan="2" class="submit-btn" align="center">
                                <button class="btn btn-primary" >Register</button>
                                <span >Already user? <a class="ml-5" href="/login">Login</a></span>
                            </td>
                        </tr>
                    </div>
                </table>
            </form>
        </div>
    </div>
</body>

</html>
